# Doctor Health Checks API

DOCTOR_MODE=api

# Full JSON API endpoint for each site.
# Must point to the endpoint used by the Doctor UI to retrieve service health.
DOCTOR_SITE1_API_URL=<TBD>
DOCTOR_SITE2_API_URL=<TBD>