# Site definitions, SSH identity paths, and server inventories.

SITE_COUNT=2

SITE1_ID=site1
SITE1_DISPLAY_NAME=<TBD>
SITE1_PURPOSE=weekend_report_site

SITE2_ID=site2
SITE2_DISPLAY_NAME=<TBD>
SITE2_PURPOSE=weekend_report_site

SSH_USERNAME=<TBD>
SSH_PRIVATE_KEY_PATH=<TBD>
SSH_KNOWN_HOSTS_PATH=<TBD>

CHRONY_TIMEZONE=<TBD>
CHRONY_SOURCE=<TBD>

SITE1_SERVER_COUNT=1
SITE1_SERVER_1_ID=<TBD>
SITE1_SERVER_1_HOST=<TBD>
SITE1_SERVER_1_PORT=22
SITE1_SERVER_1_REQUIRED=true

SITE2_SERVER_COUNT=1
SITE2_SERVER_1_ID=<TBD>
SITE2_SERVER_1_HOST=<TBD>
SITE2_SERVER_1_PORT=22
SITE2_SERVER_1_REQUIRED=true
