# Portainer deployment endpoints.

PORTAINER_COLLECTION_MODE=live
PORTAINER_API_CONTRACT=docker_proxy_v1
PORTAINER_AUTH_TYPE=x_api_key

PORTAINER_SITE1_URL=<TBD>
PORTAINER_SITE1_ENDPOINT_ID=<TBD>
PORTAINER_SITE1_TOKEN=<TBD>
PORTAINER_SITE1_TLS_VERIFY=true
PORTAINER_SITE1_CA_FILE=

PORTAINER_SITE2_URL=<TBD>
PORTAINER_SITE2_ENDPOINT_ID=<TBD>
PORTAINER_SITE2_TOKEN=<TBD>
PORTAINER_SITE2_TLS_VERIFY=true
PORTAINER_SITE2_CA_FILE=