# RabbitMQ Management API deployment settings.
#
# TLS:
#   true      = use the container's normal trusted CA store
#   custom_ca = use the CA file specified by RABBITMQ_SITE*_CA_FILE
#
# TLS verification must not be disabled in production.

RABBITMQ_COLLECTION_MODE=live

RABBITMQ_SITE1_URL=<TBD>
RABBITMQ_SITE1_USER=<TBD>
RABBITMQ_SITE1_PASSWORD=<TBD>
RABBITMQ_SITE1_TLS_VERIFY=true
RABBITMQ_SITE1_CA_FILE=

RABBITMQ_SITE2_URL=<TBD>
RABBITMQ_SITE2_USER=<TBD>
RABBITMQ_SITE2_PASSWORD=<TBD>
RABBITMQ_SITE2_TLS_VERIFY=true
RABBITMQ_SITE2_CA_FILE=