# Recording manager and site endpoints.

RECORDING_COLLECTION_MODE=live

RECORDING_MANAGER_WEBAPP_URL=<TBD>

RECORDING_SITE1_WEBAPP_URL=<TBD>
RECORDING_SITE1_SERVER_REFERENCE=<TBD>

RECORDING_SITE2_WEBAPP_URL=<TBD>
RECORDING_SITE2_SERVER_REFERENCE=<TBD>
